@font-face {
  font-family: titleFont;
  src: url("./assets/VarelaRound-Regular.ttf") format("truetype");
}

body,
html {
  height: 100%;
}
::-webkit-scrollbar {
  display: none;
}
.fullBackground {
  height: -webkit-fill-available;
  object-fit: fill;
  width: 100%;
  margin-bottom: -3px;
}
.front-title-container{
  position: fixed;
  top:7%;
  width: 100%;
  text-align: center;
  font-family: titleFont;
}
.languagesDiv {
  position: fixed;
  display: flex;
  grid-row-gap: 8px;
  z-index: 99;
  bottom: 25px;
  left: 40px;
}
.addMargin {
  margin-right: 15px;
}
.homeBtn {
  position: fixed;
  bottom: 15px;
  right: 200px;
  z-index: 10;
}
.general-kapostin-container{
  position: fixed;
  top:30%;
  font-size: small;
  font-family: papyrus;
  white-space: pre;
  width: 204px;
  height: 95px;
  text-align: center;
}
.kapostin-font-weight{
  font-weight: 100;
}
.mini-kapostin-container{
  position: fixed;
  font-size: small;
  font-family: papyrus;
  white-space: pre;
}
.kapostin-box-first-text{
  font-size: 17px;
  margin-top: 11px;
}
.particular-main-container{
  position: fixed;
  top: 11%;
  width: 1035px;
  height: 850px;
  font-family: papyrus;
  white-space: pre-line;
  overflow: scroll;
}
.particular-position-heb{
  right: 6%;
}
.particular-position-en{
  left: 41%;
}
.particular-text-heb{
  direction: rtl;
}
.backBtn{
  position: fixed;
  bottom: 11px;
  right: 270px;
  z-index: 10;
}
.particular-title{
  font-family: titleFont;
  font-size: 24px;
}
.mini-title-particular{
  font-size: larger;
}
.scroll-button-container {
  position: fixed;
  bottom: 10%;
  left: 55%;
}
.scroll-button-dimitry {
  position: fixed;
  bottom: 5%;
  right: 29%;
}
.scroll-button-architects {
  position: fixed;
  bottom: 7%;
  left: 37%;
}
.scroll-container-heb{
  position: fixed;
  bottom: 10%;
  right: 52%;
}
.left-scroll {
  margin-right: 20px;
}
.front-page-figures{
  position: fixed;
  bottom: -19px;
  z-index: 10;
}
.front-page-titles{
  position: fixed;
  top:20px;
  z-index: 10;
}
.onclick-circle{
  position: fixed;
  background:transparent;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 15;
}
.lone-squre{
  bottom: 25px;
  right: 39%;
  border-radius: 0;
  height: 460px;
  width: 108px;
}
.video-position{
  position: fixed;
  top:0;
  left: 0;
  z-index: -1;
}
.front-lines{
  z-index: 10;
}
.fade-class{
  opacity: 1;
  transition: opacity 1s;
  }
.fade-class.fade{
    opacity: 0;
}
.down-frame-position{
  z-index: 11;
  position: fixed;
  bottom: 0;
  left: 0;
}
.left-frame-position{
  position: fixed;
  left: 0;
  z-index: 11;
}
.right-frame-position{
  position: fixed;
  right: 0;
  z-index: 11;
}
#particularTextBox{
  font-size: 20px;
}